<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	{% block title %}
    	<title>Home</title>
	    {% endblock %}
        <link rel="stylesheet" type="text/css" href="./templates/css/styles.css">
    </head>
    <body>
	    {% block nav %}
	    {% endblock %}

	 	{% block content %}
		{% endblock %}
    	<hr>
        <footer><h5>Prueba parcial Proyecto de Software 2018</h5></footer>
   	</body>
</html>