{% block nav %}
<nav>
	<ul>
		<li><a href="index.php?controller=home">Inicio</a>
		<li><a href="index.php?controller=login&action=login">Iniciar sesion</a>
		{% if logued == true %}
		<li><a>Usuario logueado: {{username}}</a></li>
		<li><a href="index.php?controller=login&action=closeSession">Cerrar sesion</a>
		{% endif %}
		{% if admin == true %}
		<li><a href="!#">Administracion</a>
		{% endif %}
	</ul>
</nav>
{% endblock %}